/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 100%;
}

.App nav {
  background-color: hsl(0deg 0% 10%);
}

.App nav ol {
  padding: 20px;
  list-style-type: none;
}

.App nav ol li {
  font-family: monospace;
  font-size: 1rem;
  text-transform: lowercase;
}

.App nav ol li:before {
  content: '[';
  color: hsl(0deg 0% 100%);
}

.App nav ol li:after {
  content: ']';
  color: hsl(0deg 0% 100%);
}

a {
  color: hsl(100deg 73% 56%);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
